<section class="ui center aligned container">
  {{#each catCollection}} <!-- Loop through the 'data' array -->
  <div class="ui centered card">
    <div class="content">
      <a href="/category/{{id}}">
        {{name}}
      </a>
    </div>
  </div>
  {{/each}}
  </div>
</section>
{{> footer}}