<section class="ui left aligned middle aligned segment">
  <p>List length: {{listList.length}}</p>
  <div class="ui centered special cards">
    {{#each listList}}
    <div class="ui card">
      <div class="content">
        {{name}}
      </div>
      <h5>
        {{description}}
      </h5>
    </div>
    {{/each}}
  </div>
</section>