<nav class="ui tabular menu stackable">
    <a id="homepage" class="item" href="/start">HOMEPAGE</a>
    <a id="dashboard" class="item" href="/dashboard">DASHBOARD</a>
    <a id="About" class="item" href="/about">ABOUT</a>
    <a id="Search" class="item" href="/search">SEARCH</a>
    <a id="logout" class="item" href="/logout">LOGOUT</a>

</nav>

<script>
    document.querySelector("#{{id}}").classList.add("active");
</script>