<nav class="ui tabular menu stackable">
    <header class="ui header item"> <a href="/">ML-animations</a></header>
    <div class="right menu">
        <a id="register" class="item" href="/register"> Register </a>
        <a id="login" class="item" href="/login"> Login </a>
    </div>
</nav>

<script>
    document.querySelector("#{{id}}").classList.add("active");
</script>