{{> menu id="about"}}

<section class="ui center aligned container">
    <h1>About</h1>
    <h3>Lorem Ipsum</h3>
</section>
<section class="ui center aligned container">
    <h1>Creators</h1>
    <h3>Gustaw Tarka</h3>
</section>

{{> footer}}