{{> menu}}

<section class="ui center aligned container">

  <h2 class="ui header">
    {{singleCat.name}}
  </h2>




</section>

<div class="ui center aligned container">
  {{#each listList}}
  <div class="ui centered card">
    <div class="ui content">
      <a href="/algorithm/{{idx}}">
        <div class="header">{{name}}</div>
      </a>
      <div class="description">{{description}}</div>
    </div>
  </div>
  {{/each}}
</div>

{{> footer}}