{{> menu}}

<section class="ui center aligned middle aligned scrolling segment">

  <h2 class="ui header">
    {{singleCat.name}}
  </h2>


  

</section>

  <div class="ui center aligned middle aligned scrolling segment">
  {{#each listList}}
    <div class="card">
      <div class="content">
        <div class="header">{{name}}</div>
        <div class="description">{{description}}</div>
      </div>
    </div>
  {{/each}}
  </div>