{{> welcomeMenu}}

<div class="ui inverted vertical masthead center aligned segment section">
    <div class="ui container">
        <h1 class="ui inverted header fade in">Welcome to ML Learning Hub</h1>
        <h3 class="ui inverted header slide up">Interactive tutorials, animations, and hands-on simulations to learn
            machine learning.</h3>
        <a href="/dashboard" class="ui huge primary button">Get Started <i class="right arrow icon"></i></a>
    </div>
</div>

{{> footer}}