{{> welcomeMenu}}

<section class="ui center aligned middle aligned segment">
    <h1>Welcome to ML-aminations</h1>
    <h3>Website aimed towards simplifying machine
        learning algorithms and processes taking place in AI programs</h3>


</section>