{{> welcomeMenu}}
    <div class="ui container">
        <h1 >Welcome to AI algorithm</h1>
        <h3 >Interactive AI tools and useful mechanics for the ultimate AI experience.
            </h3>
        <a href="/dashboard" class="ui huge primary button">Get Started <i class="right arrow icon"></i></a>
    </div>

{{> footer}}