{{> menu id="homepage"}}

<section class="ui center aligned container">
    <h1>Welcom to the ML-animation web app</h1>
    <h3>Place to make your machine learning studies at least a bit easier</h3>
</section>