{{> menu id="homepage"}}

<div class="ui container">
<section class="ui center aligned container">
    <header class="header start">Dummy Name</header>
    <main>
        <p class="start">Hello {{fullname}}</p>
        <p>Algorithm of the day</p>
        <div class="ui card">
            <p class="content">
                {{randomItem}}
            </p>
        </div>
    </main>
</section>

{{> footer}}

</div>
