.ui.container{
  background-color: #489956;
  color: #1C2641;
  margin: 2%;
  font-family: 'Courier New', Courier, monospace;
}

.button{
  background-color: #A4B7EB;
}
.ui.center.aligned.container{
  background-color: #404C6B;
  margin: 4%;
}


